@inject IJSRuntime JS
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">My-FrameApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="feature/my-calendar"
                @onclick='() => LoadFeature("Calendar", "http://localhost:3001/main.js", "my-calendar")'>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Calendar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="feature/my-todo-list"
                @onclick='() => LoadFeature("ToDoList", "http://localhost:3002/components.js", "my-todo-list")'>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ToDo-List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="feature/my-nested-component"
                @onclick='() => LoadFeature("ToDoList", "http://localhost:3003/main.js", "my-nested-component")'>
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Nested Component
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task LoadFeature(string feature, string url, string custom_element_name)
    {
        await JS.InvokeVoidAsync("loadFeature", url, custom_element_name);
        // Navigation.NavigateTo($"feature/{feature}");

        @* var module = await JS.InvokeAsync<IJSInProcessObjectReference?>("loadFeature", url, custom_element_name);

if (module is null)
{
Console.WriteLine("Failed to load feature");
}
else
{
Console.WriteLine("Feature loaded");
} *@
    }
}
